* {
  margin: 0;
  padding: 0;
}

.navbar ul {
  float: right;
  margin-right: 5%;
}

.navbar li {
  font-family: 'Open Sans', sans-serif;
}

.navbar-wrapper {
  background-color: #222;
  border-top: 2px black solid;
}

.carousel-text {
  font-family: 'Arvo', serif;
}

.carousel-text h1 {
  font-size: 500%;
}

@media (max-width: 767px) {
  .carousel-caption h1 {font-size: 175%;}
  .home-text h2 {font-size: 175%;}
}

/*@media (max-width: @screen-sm) {
  .carousel-caption h1 {font-size: 100%;}
}
*/
/*nav {
  width: 100%;
  height: 11vh;
  background-color: black;
}*/

/*ul {
  padding: 0px;
  font-family: 'Fanwood Text', serif;
  margin-bottom: 0;
}

li {
    display: inline-block;
    padding: 5px;
    margin-right: 10%;
    font-size: 2rem;
    margin-top: .5%;
    margin-bottom: .5%;
    margin-left: 8%;
    border: 2px solid white;
    box-sizing: border-box;
    padding-left: 1%;
    padding-right: 1%;
}
*/
/*a:link, a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  opacity: .8;
}

p {
  font-size: 1.8rem;
}

.wrapper {
  display: inline-block;
  position: relative;
}

.wrapper img {
  display: block;
}

.wrapper .overlay {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  font-family: 'Arvo', serif;
  color:white;
  text-align: center;
}

.wrapper .overlay h1{
  font-size: 20rem;
  vertical-align: center;
  font-family: 'Arvo', serif;
}
*/

.home-con {
  background-color: #fff;
  width: 100%;
  border-top: 1px #222 solid;
}

.home-text {
  font-family: 'Arvo', serif;
  text-align: center;
}

.home-text h3{
  font-family: 'Arvo', serif;
  text-align: center;
}

.home-text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 120%;
  padding-bottom: 1%;
}

.modal-dialog {}
.thumbnail {margin-bottom:6px;}

.thumb {
  margin-bottom: 2%;
}

.carousel-control.left,.carousel-control.right{
  background-image:none;
  margin-top:10%;
  width:5%;
}

.modal-con {
  background-color: #fff;
  width: 100%;
  font-family: 'Arvo', serif;
/*  color: white;*/
}

.featurette {
  padding-top: 2%;
}

.featurette h2 {
  font-family: 'Arvo', serif;
}

.featurette p {
  font-family: 'Open Sans', sans-serif;
}

.lead {
  padding-left: 1%;
}

.modal-con h2, .about-text h2 {
  font-family: 'Arvo', serif;
  padding-top: 1%;
}

.modal-con h2 {
  padding-bottom: 1%;
}

.lead p, .about-text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  padding-top: 1%;
  margin-right: 12%;
}

.box2 {
  height: 20vh;
  width: 25%;
  text-align: center;
  margin-left: 20px;
  display: inline-block;
}

.box2 p {
  font-family: 'Open Sans', sans-serif;
  font-size: 150%;
}

.box2 i {
  margin: auto 0;
  color: black;
  font-size: 80px;
}

.fa:hover {
  opacity: 0.7;
}